alembic
fast-depends
fastapi
fastapi-cli
fastapi-mail
SQLAlchemy
sqlmodel
psycopg2-binary
pydantic
pydantic-settings
uvicorn
python-dotenv
aiosmtplib
email-validator
python-multipart
PyYAML
reportlab
Pillow
Jinja2
Mako
rich
typer
watchfiles
httptools
httpx
